.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1050;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1040;
}

.close {
    font-size: 1rem;
    color: red;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
}

.modal-content {
    padding: 10px;
    max-height: 650px;
    overflow-y: scroll;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 0.5rem;
}

.modal-title-appointment {
    font-size: 1.4rem !important;
}

.modal-appoinment-body {
    max-height: 75vh !important;
    text-align: left !important;
    margin-top: 20px !important;
    margin-bottom: 40px !important;
}

.modal-body input,
.modal-body select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.custom-modal-footer {
    padding: 10px 20px;
    border-top: 1px solid #dee2e6;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.is-invalid {
    border-color: #dc3545;
    background-color: #fae3e3;
}

.token-header {
    font-size: 24px;
    color: #16A085;
    text-align: left;
    padding: 10px 0;
    border-bottom: 3px solid #BDC3C7;
    padding-top: 0px !important;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .custom-modal-content {
        width: 95%;
        height: 80vh;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
    }

    .custom-modal-header,
    .custom-modal-footer {
        padding: 10px;
    }

    .custom-modal-title-appointment {
        font-size: 1.2rem;
    }

    .custom-modal-body {
        flex: 1;
        overflow-y: auto;
    }
}

@media (max-width: 576px) {
    .custom-modal-header,
    .custom-modal-footer {
        padding: 10px;
    }

    .custom-modal-title-appointment {
        font-size: 1.2rem;
    }
}