.login {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0% 2% 5% 2%;
  flex: 1; /* Take up 50% of the container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
}

.container-wraper-login .btn-primary {
  width: 100% !important;
}

.welcome-image {
  flex: 1; /* Take up 50% of the container */
  background: url("../../assets/images/login_background.jpg") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: var(--light-text-color);
  height: 100%;
  min-height: 250px;
}

.welcome-description {
  font-size: small;
}

.logo {
  margin-bottom: 3rem !important;
  max-width: 200px !important;
}

.form-check-label {
  float: left;
}

.forgot-password-link {
  float: right;
}

.container-main {
  border: 0;
  box-shadow: 0;
}

.container-wraper-login {
  margin: 2% 0;
  display: flex;
}

@media screen and (min-width: 576px) {
  .container-main {
    padding: 0px !important;
    border: 3px solid transparent; /* Initial transparent border */
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2); /* Box shadow with 10px blur and 2px spread */
  }
}

@media screen and (min-width: 992px) {
  .login {
    padding: 0% 5% 5% 2%;
    min-height: 75vh;
  }
  .container-wraper-login {
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}
