/* styles.css */
@import '../src/assets/styles/variable.css';

body {
  background-color: var(--background-color); /* Use background color variable */
  color: var(--text-color); /* Use text color variable */
}

.error-message {
  color: red;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: var(--primary-color);
}  

a{
  text-decoration: none;
  color: var(--primary-color);
}

.app-container.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
}

.main-content.full-width {
  width: 100%; /* Full width */
  padding: 0; /* Remove any padding */
  margin: 0px !important;
}

.main-content {
  width: calc(100% - 200px); /* Adjust based on sidebar width */
  padding: 20px; /* Add padding if needed */
}

.sidebar {
  width: 200px; /* Adjust width if needed */
}

