:root {
  --primary-color: green; /* Default primary color */
  --secondary-color: #6c757d; /* Default secondary color */
  --background-color: #ffffff; /* Default background color */
  --text-color: #000000; /* Default text color */
  --light-text-color: #ffffff;
}
